.player-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #00175f;
    color: white;
}

.player-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.addflip{
    transform: rotateY(180deg);
}


.player-card a {
    text-decoration: none;
    color: inherit;
}
