/* Base styles for tournament schedule */
.tournament-schedule {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    background-color: #00175f;
    h2{
        color: white;
    }
    
}

.tournament-schedule h2 {
    margin-top: 0;
}

.tournament-schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tournament-schedule th, .tournament-schedule td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tournament-schedule th {
    background-color: #f2f2f2;
}

.schedule-grid {
    display: flex; 
    flex-direction: row; /* Items are aligned horizontally */
    gap: 20px; 
    justify-content: space-around;
    margin: 20px 0;
}

.tournament-schedule tr:nth-child(7n) { background-color: rgb(249, 195, 141); }
.tournament-schedule tr:nth-child(7n+1) { background-color: rgb(173, 255, 173); }
.tournament-schedule tr:nth-child(7n+2) { background-color: rgb(255, 255, 203); }
.tournament-schedule tr:nth-child(7n+3) { background-color: rgb(166, 197, 255); }
.tournament-schedule tr:nth-child(7n+4) { background-color: rgb(244, 197, 242); }
.tournament-schedule tr:nth-child(7n+5) { background-color: rgb(273, 255, 176); }
.tournament-schedule tr:nth-child(7n+6) { background-color: rgba(173, 255, 141); }

.tournament-schedule h2 {
    text-decoration: underline;
}

.playerstats, .playerstats {
    th, tr, td {
        background-color: #00175f;
        color: white;
        text-align: center;
    }
}

.playerstats td {
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .schedule-grid {
        flex-direction: column; /* Stack items vertically on smaller screens */
        gap: 10px;
    }
}
